page-login {
  .lgpage{
    background-image: url("../../assets/imgs/bgs.jpg");
    background-repeat: repeat;
    //opacity: 0.3;
    background-size: contain;

  }

  .noscrol{
    overflow: hidden;
  }

  .logo{
    border-radius: 50% 50%;
   align-self: center;
    width: 30%;

  }

  .tlabel{
    background-color: rgba(255,255,255,0);
    color: #ffffff;
  }
  
  .fcenter{
    width: 75%;

    //position: absolute;
    //right: 100%;
    //margin: auto;
  }

}
